@page
@using CoreModule.Domain.Course.Enums;
@using CoreModule.Facade.Category;
@model DigiLearn.Web.Pages.Profile.Teacher.Courses.AddModel
@inject ICourseCategoryFacade _coursecategoryFacade
@{
    ViewData["Title"] = "اضافه کردن دوره جدید";
    Layout = "Shared/_ProfileLayout";
    var categories = await _coursecategoryFacade.GetMainCategories();
}


<div class="row ">
    <div class="col-12 info shadow pl-0 pr-0">
        <p class="title">
            <i class="fa fa-paper-plane"></i>
            @ViewData["Title"]
        </p>
        <form method="post" enctype="multipart/form-data" class="row">
            <div class="col-md-6">
                @Html.EditorFor(t=>t.Title)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(t=>t.Slug)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(t=>t.Price)
            </div>
            <div class="col-md-6">
                <label asp-for="CourseLevel"></label>
                <select asp-for="CourseLevel" class="form-control select2">
                    <option value="@CourseLevel.Begeinner">مقدماتی</option>
                    <option value="@CourseLevel.Intermediate">متوسط</option>
                    <option value="@CourseLevel.Expert">پیشرفته</option>
                </select>
            </div> 
            <div class="col-md-6">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control select2">
                    <option>انتخاب کنید</option>
                  @foreach(var item in categories)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div> 
            <div class="col-md-6">
                <label asp-for="SubCategoryId "></label>
                <select asp-for="SubCategoryId" class="form-control select2">
                </select>
            </div>
            <div class="col-md-12">
                @Html.EditorFor(t=>t.Description)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(t=>t.ImageFile)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(t=>t.TrailerFile)
            </div>


            <div class="col-12">
                <button class="btn btn-save mt-3">ویرایش اطلاعات</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $("#CategoryId").change(function () {
            var id = $(this).val();
            $.ajax({
                url:"/ajax/getCategoryChildren?id="+id,
                method:"get"
            }).done(function (data) {
                $("#SubCategoryId").html(data)
            });
        })
    </script>
}
